.game{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    border-bottom: 5px solid #000;
}

#dino{
    width: 41px;
    height: 56px;
    position: absolute;
    z-index: 1;
    /*top: 150px;*/
    bottom: 0;
}
.jump{
    animation: jump 2s linear;
}
#cactus{
    width: 25px;
    height: 50px;
    background-image: url();
    background-size: 25px 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: run 2s linear;
}
@keyframes run {
    0%{
        right: -100px;
    }
    25%{
        right: 115px;
    }
    75%{
        right: 374px;
    }
    100%{
        right: 750px;
    }
}
@keyframes jump {
    0%{
        bottom: 0;
    }
    25%{
        bottom: 100px;
    }
    50%{
        bottom: 300px;
    }
    75%{
        bottom: 100px;
    }
    100%{
        bottom: 0;
    }
}
